@charset "UTF-8";

/* 전체 공통 */

/* 탑 */
div.top {
	width: 100%;
	height: 60px;
	padding: 10px;
	margin-top: 10px;
}

div.minilogo {
	visibility: hidden;
	width: 80px;
	height: 40px;
	float: left;
	width: 80px;
}

span.minilogo {
	display: block;
	width: 80px;
	height: 40px;
	margin: 0;
	background: url(../img/odiy-icons.png) no-repeat;
	background-position: -100px -30px;
}

div.minisearch {
	visibility: hidden;
	float: left;
	padding: 0 20px;
	width: 270px;
	height: 40px;
}

div.minisearch input {
	height: 36px;
	margin-right: 5px;
}

div.minisearch button {
	text-align: center;
	height: 36px;
	padding: 6px 0;
}

div.minimenu {
	margin: auto;
	width: auto;
	height: 40px;
	float: right;
	padding: 5px;
}

div.mini {
	width: 80px;
	height: 40px;
	margin: auto;
	float: right;
	padding: 5px 0;
}

div.mini>a {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #005f6b;
}

div.profile {
	position: relative;
	width: 30px;
	padding: 5px;
	float: right;
}

span.profile {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	background: url(../img/odiy-icons.png) no-repeat;
	background-position: -100px 0;
}
/* 프로필 클릭시 나오는 팝업 구역 */
div.pmenu {
	visibility: hidden;
	float: right;
	margin-top: 10px;
	width: 100%;
	max-width: 200px;
	height: auto;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: 5px;
	font-size: 14px;
}
a.pmenuli {
	text-decoration: none;
	color: #343838;
}

@media ( min-width : 1024px ) {
	div.pmenu {
		visibility: visible;
	}
}

div.pdivider {
	border: 1px solid rgba(0, 0, 0, .01);
}

div.pmenuc {
	padding: 8px;
	text-align: right;
}

/* 로고, 검색창 */
div.header {
	width: 100%;
	height: 150px;
	padding: 20px;
}

div.logo {
	width: 100px;
	height: 50px;
}

span.logo {
	display: block;
	width: 100px;
	height: 50px;
	background: url(../img/odiy-icons.png) no-repeat;
	background-position: 0 0;
	height: 50px;
	padding: 10px;
	margin: 20px;
}

div.search {
	min-width: 242px;
	max-width: 400px;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}

div.search input {
	display: block;
	margin-right: 5px;
}

div.search button {
	text-align: center;
	padding: 6px 0;
}
/* 네비게이터 */
li.nav-item {
	font-family: "나눔고딕";
	font-weight: bold;
}
/* 상세검색 체크박스 영역 */
div.dsearch {
	position: fixed;
	margin-left: 20px;
	width: 100%;
	max-width: 480px;
	font-family: "나눔고딕";
	font-size: 0.8em;
}

div.dsearch>div>div {
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
	min-height: 100px;
	background-color: #f9f9f9;
}

/* 콘텐츠 영역 */
div.content {
	margin: 20px;
	padding: 10px;
	border: 1px dotted #005f6b;
	width: 100%;
	max-width: 1024px;
}

div .slide {
	width: 100%;
	min-height: 600px;
}